body {
  align-items: center;
  background-color: #e1f677;
  color: #212121;
  margin-left: 60px;
}

.cat-info {
  width: 600px;
  background-color: rgb(48, 149, 221);
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  border: 1px solid #0d161b;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
